body {
    overflow-y: hidden;
}
img {
    display: block;
    max-width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    overflow-y: hidden;
    height: 100vh;
}
.gallery {
    overflow: scroll;
    scroll-behavior: smooth;
}
.gallery::-webkit-scrollbar {
    display: none;
}
.gallery__img {
    margin-bottom: 10px;
    min-height: 60vh;
    object-fit: cover;
}
.img-nav {
    overflow: scroll;
    scroll-behavior: smooth;
}
.img-nav::-webkit-scrollbar {
    display: none;
}
.img-nav a {
    display: flex;
    margin-bottom: 5px;
}
.img-nav__img {
    object-fit: cover;
    transition: 0.3s ease all;
}
.img-nav__img:hover {
    transform: scale(1.05);
    filter: saturate(1);
}

